{
        # common setting
        "prettyName": "{{ DELPHIX_SOURCE_DB_NAME }}",
        "discoveryType": "Manual",
        "dbPath": "/u01/mongodb/data/delphix_rs2710/rs1/db",
        # db specifig settings
        "replicaSet": "delphix_rs2710",
        "mongoPort": 27101,
        "mongoHost": "ajaymongosrc.dlpxdc.co"
}