{
            # common settings
            "prettyName": "{{ DELPHIX_VDB_NAME }}",
            "discoveryType": "Manual",
            "dbPath": "{{ DELPHIX_VDB_MOUNTPOINT }}",
            # mongo specific settings
            "replicaSet": "N/A",
            "mongoPort": "667",
            "mongoHost": "somehost"
}
