 {
      # common parameters
      "mountPath":"{{ DELPHIX_STG_MOUNTPOINT }}",
      "dSourceType":"Staging",
      "mongoHost":"jakitam.host",
      "mongoPort":"666",
      "bindIP":"0.0.0.0",
      "keyfilePath":"/path",
      "storageEngine":"wiredTiger",
      "oplogSize":1024,
      "journalInterval":30,
      "mongoDBUser":"clusteradmin",
      "mongoDBPassword":"delphix"
}